h1{
    text-align: center;
    color: aliceblue;
}
#logo img{
    width: 6em;
    margin-bottom: 50px;
}
header{
    height: 150px;
    background-color: rgb(201, 38, 38);
}
h2{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    border: dashed 3px black;
}
a:hover{
    background-color: rgba(255, 211, 14, 0.925);
}
.img1 img{
    width: 15em;
    border-radius: 50%;
   
    margin-left: 40%;
}
h3 {
    background-color: rgb(85, 151, 124);
    text-align: center;
}
p{
    text-align: center;
}